@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=cyrillic')
// cenbook-bolditalic
// cenbook-bold
// cenbook-italic
// cenbook-regular
@import "_fonts.sass"

$lighter: #cccccc
$light: #999999
$dark: #666666
$darker: #333333
$highlight :#ff4081

*
  padding: 0
  margin: 0

ul
  list-style: none
  margin: 0 !important

a:hover
  text-decoration: none

.top-menu-head
  height: 30px
  background: $dark

.main-layout
  .top-menu
    min-height: 88px

    .top-logo
      display: flex
      align-items: center

    .menu-list ul li
      display: inline-flex
      height: 88px
      align-items: center
      padding: 0 8px
      position: relative

      a
        font-family: 'Opens Sans', sans-serif
        color: $dark
        font-size: 14px
      // Хак, чтобы когда шрифт толстел - элементы не смещались. Место для жирного шрифта заранее резервировано
      a:before
        display: block
        content: attr(title)
        font-weight: bold
        height: 0
        overflow: hidden
        visibility: hidden
        padding: 0 1px

      a:hover
        color: $highlight
        font-weight: bold

      a:hover:after
        display: inline-block
        position: absolute
        content: ""
        width: 100%
        height: 5px
        bottom: 5px
        left: 0
        background: $highlight

    .icons
      .icons-inner
        float: right

        a
          line-height: 88px
          vertical-align: middle
          position: relative

        a ~ a:before
          content: "/"
          display: inline
          margin: 0 9px 0 6px
          color: $lighter
          img
            vertical-align: baseline

        .circle-counter
          height: 20px
          width: 20px
          line-height: 20px
          border-radius: 50%
          background: $highlight
          text-align: center
          font-size: 10px
          color: white
          position: absolute
          right: -9px
          top: -6px



  .top-billboard
    height: 580px
    margin-bottom: 30px

    .top-billboard-wrapper
      height: 100%

      .top-billboard-inner
        height: 100%
        background: $dark
        position: relative
        // height: 100%

        .watermark
          position: absolute
          bottom: 12px
          left: 20px

        .billboard-text
          height: 100%
          float: right
          display: flex
          flex-direction: column
          align-items: center
          justify-content: center
          margin-right: 40px

          h2
            font-family: 'cenbook-bolditalic'
            color: #fff
            font-size: 36px
            font-style: italic
            font-weight: bold

          h1
            font-family: 'cenbook-bold'
            font-size: 80px
            color: #fff
            font-weight: bold

          h3
            font-family: 'cenbook-regular'
            font-size: 36px
            color: $lighter
            margin-bottom: 110px
          a
            text-align: middle
            margin: 0 auto
            font-family: 'cenbook-regular'
            font-size: 14px
            color: #fff
            text-decoration: underline

  .banners
    margin-bottom: 45px

    .banner-wrapper
      margin-bottom: 25px
      height: 100%

      .banner
        background: $dark
        height: 190px

        .banner-text
          color: $lighter
          font-family: 'cenbook-regular'
          margin-right: 12px
          text-align: right

          h1
            font-family: 'cenbook-bold'
            font-size: 30px
            font-weight: bold
            padding-top: 20px
            margin-bottom: 8px

          h2
            font-size: 20px
            margin-bottom: 12px

          h3
            font-size: 12px
            margin-bottom: 32px

          a
            font-size: 12px
            color: $lighter
            text-decoration: underline

  .arrivals-header
    .text-wrapper
      font-size: 36px

      .bold
        font-weight: bold
        color: $darker

      .normal
        color: $light
        font-weight: lighter

  .selectors
    align-items: baseline
    margin-bottom: 30px

    .categories
      ul
        margin: 0
        padding: 0
        li
          display: inline
          vertical-align: middle

          a
            color: $dark
            font-size: 12px
            display: inline-block
            text-align: center
            text-transform: uppercase

          a.active, a:hover
            color: $highlight
            font-weight: bold

          a:before
            display: block
            content: attr(title)
            font-weight: bold
            height: 0
            overflow: hidden
            visibility: hidden

        li ~ li:before
          content: "/"
          display: inline
          color: $lighter

    .line
      height: 5px
      background: $lighter

  .products
    .product-wrapper
      .image
        height: 350px
        background: $dark
        margin-bottom: 15px

        .active
          background: $highlight
          width: 170px
          margin: auto
          position: relative
          top: 314px

          ul
            li
              display: inline-block
              a
                display: block
                width: 33px
                height: 36px

              span
                position: absolute
                display: none

      .image:hover
        //display: none
        //display: block
        //height: 100%
        //width: 100%
        background: rgba(#999, 0.5)
        border: 5px solid $highlight

      .info
        margin-left: 10px
        position: relative

        div
          font-family: 'Open Sans', sans-serif
          font-size: 19px
          font-weight: 300

          a
            color: $darker

        .product-title
          margin-bottom: 5px

        .product-category
          font-size: 11px
          margin-bottom: 9px

        .product-rating
          position: absolute
          bottom: 0
          right: 0

