@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=cyrillic')

$dark: #464646
$highlight :#ff4081

*
  padding: 0
  margin: 0

ul
  list-style: none
  margin: 0 !important

a:hover
  text-decoration: none

.top-menu-head
  height: 30px
  background: $dark

.main-layout
  .top-menu
    height: 88px

    .top-logo
      display: flex
      align-items: center

    .menu-list
      ul
        li
          display: inline-flex
          height: 88px
          align-items: center
          padding: 0 10px
          position: relative

          a
            font-family: 'Opens Sans', sans-serif
            color: $dark
            font-size: 14px

          a:hover
            color: $highlight

          a:hover:after
            display: inline-block
            position: absolute
            content: ""
            width: 100%
            height: 5px
            bottom: 5px
            left: 0
            background: $highlight