@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&subset=cyrillic')
@import url('https://fonts.googleapis.com/css?family=Philosopher')
@import "_fonts.sass"
//$highlight_lightest: #e18cad
//$highlight_lighter: #fe8cb9
//$highlight : #cf2027
//$highlight : #ff4081
//$highlight_lightest: #e18cad
//$highlight_lighter: #fe8cb9
//$highlight_darker: #fe4080
//$highlight_darkest: #c1185b
//Блекло красный
//$highlight_lightest: #ffb8c5
//$highlight_lighter: #ff8192
//$highlight_darker: #ff6777
//$highlight_darkest: #cf545c
//$highlight: #f95461
// Морковный
$highlight_lightest: #f6b28f
$highlight_lighter: #f1936c
$highlight_darker: #ea704c
$highlight_darkest: #e54833
$highlight_opaque: rgba(229, 72, 51, 0.8)
$highlight: #ff4081
$lighter: #cecece
$light: #939393
$dark: #464646
$darker: #282828
*
  padding: 0
  margin: 0
ul
  list-style: none
  margin: 0
.hidden
  visibility: hidden
a:hover
  text-decoration: none
.top-menu-layout
  .top-menu
    .top-logo
      display: flex
      //align-items: center
      justify-content: center
      flex-direction: column
      .logo
        font-family: "logo1", sans-serif
        color: #000
        font-weight: normal
        line-height: 0.9
        font-size: 1.4rem
        .smaller
          font-weight: 100
          color: #f10
      .speciality
        font-family: "Open Sans", sans-serif
        font-size: 1rem
    .menu-list ul li
      display: inline-flex
      height: 5.5rem
      align-items: center
      padding: 0 5px
      position: relative
      a
        font-family: 'Open Sans', sans-serif
        color: $dark
        font-size: 0.9rem
      // Хак, чтобы когда шрифт толстел - элементы не смещались. Место для жирного шрифта заранее резервировано
      a:before
        display: block
        content: attr(title)
        font-weight: bold
        height: 0
        overflow: hidden
        visibility: hidden
        padding: 0 1px
      a:hover
        color: $highlight
        font-weight: bold
      a:hover:after
        display: inline-block
        position: absolute
        content: ""
        width: 100%
        height: 5px
        bottom: 5px
        left: 0
        background: $highlight
    .user-interface
      display: flex
      align-items: end
      justify-content: end
      position: relative
      ul.icons
        .icon ~ .icon
          margin-left: 9px
        .icon ~ .icon:before
          display: inline
          margin: 0 7px 0 0
          content: "/"
          font-size: 1.3rem
          color: $lighter
          vertical-align: middle
        .icon
          display: inline-block
          a
            line-height: 5.5rem
            vertical-align: middle
            position: relative
            color: $dark
            font-size: 19px
            padding: 10px
            img
              vertical-align: baseline
            &:hover, &.active
              color: $highlight
          .circle-counter
            height: 1.2rem
            width: 1.2rem
            line-height: 1.2rem
            border-radius: 50%
            background: $highlight
            text-align: center
            font-size: 0.7rem
            color: white
            position: absolute
            right: -1px
            top: 0
.main-layout
  .main
    .sidebar
      .functions-block
        font-family: "Open Sans", sans-serif
        color: black
        margin-bottom: 20px
        .header
          font-weight: bold
          font-size: 1.2rem
          border-bottom: 2px solid $lighter
          margin-bottom: 10px
        ul.functions
          font-size: 0.9rem
          li
            margin-bottom: 5px
            a
              color: $darker
          form
            display: flex
            width: 100%
            input
              display: block
              background: white
              color: black
              flex-grow: 1
              border: 1px $light solid
              padding: 3px 5px
            button
              display: block
              background: none
              border: 1px solid $light
              border-left: none
              padding: 3px 5px
    .content
      .functions-block
        font-family: "Open Sans", sans-serif
        color: black
        margin-bottom: 20px
        .header
          font-weight: bold
          font-size: 1.2rem
          border-bottom: 2px solid $lighter
          margin-bottom: 10px
        li
          .square-block
            background: #feffec
            padding: 5px
            border: 2px solid $lighter
            height: 110px
            .icon
              height: 60%
              display: flex
              align-items: flex-end
              justify-content: center
              color: #727272
              &.number
                font-family: "Open Sans", sans-serif
                font-size: 3rem
                font-weight: 900
            .description
              display: flex
              align-items: flex-end
              justify-content: center
              text-align: center
              height: 40%
              font-family: "Open Sans", sans-serif
              font-size: 0.9rem
              font-weight: 600
              color: #727272
              &.find-by-number
                flex-direction: column
                align-items: center
                label
                  font-size: 0.8rem
              form
                position: relative
                display: flex
                align-items: center
                justify-content: center
                margin: 0 auto
                width: 69%
                input
                  max-width: 100%
                  background: white
                  color: black
                  padding: 1px 5px
                  padding-right: 35px
                  border: 1px solid #babab2
                  font-size: 0.8rem
                button
                  position: absolute
                  right: 0
                  color: #6a656c
                  background: white
                  height: 24px
                  padding: 0 8px
                  cursor: pointer
                  border: 1px solid #babab2
                  &:hover
                    color: black
          &:hover
            .square-block
              border-color: #ff537d
            .icon
              color: #ff537d
            .description
              color: #ff537d

      .orders-table-content
        header
          h3
            font-family: "Open Sans", sans-serif
            color: black
            font-weight: bold
        .display-functions
          ul
            li
        .table-wrapper
          table
            font-family: "Open Sans", sans-serif
            font-size: 0.9rem
            color: black
            thead
              tr
                th
            tbody
              tr
                th
                td
