<div class="container-fluid top-menu-head"></div>
<div class="container top-menu-layout">
    <header class="row top-menu">
        <div class="col-12 col-sm-2 top-logo">
            <img src="/static/landing/img/logo.png">
        </div>
        <div class="col-sm-7 menu-list">
            <ul>
                <li>
                    <a href="#" title="Домівка"><span>Домівка</span></a>
                </li>
                <li>
                    <a href="#" title="Магазин"><span>Магазин</span></a>
                </li>
                <li>
                    <a href="#" title="Наша Майстерня"><span>Наша Майстерня</span></a>
                </li>
                <li>
                    <a href="#" title="Новини"><span>Новини</span></a>
                </li>
                <li>
                    <a href="#" title="Про нас"><span>Про нас</span></a>
                </li>
                <li>
                    <a href="#" title="Контакти"><span>Контакти</span></a>
                </li>
            </ul>
        </div>
        <div class="col-sm-3 icons">
            <div class="icons-inner">
                <a href="#" class="search">
                    <img src="/static/landing/img/search.png">
                </a>
                <a href="#" class="user">
                    <img src="/static/landing/img/user.png">
                </a>
                <a href="#" class="basket">
                    <img src="/static/landing/img/shopping_cart.png">
                    <span class="circle-counter">12</span>
                </a>
                <a href="#" class="settings">
                    <img src="/static/landing/img/config.png">
                </a>
            </div>
        </div>
    </header>
</div>