<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "landing/css/main.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <title>Лавка гоблина</title>
</head>
<body>{% block base_content %}{% endblock %}
<div class="container-fluid top-menu-head"></div>
<div class="container main-layout">
    <header class="row top-menu">
        <div class="col-sm-12 col-md-3 top-logo">
            <img src="/static/landing/img/logo.png">
        </div>
        <div class="col-sm-8 col-md-6 menu-list">
            <ul>
                <li>
                    <a href="#" title="HOME"><span>HOME</span></a>
                </li>
                <li>
                    <a href="#" title="ABOUT"><span>ABOUT</span></a>
                </li>
                <li>
                    <a href="#" title="STORE"><span>STORE</span></a>
                </li>
                <li>
                    <a href="#" title="BLOG"><span>BLOG</span></a>
                </li>
                <li>
                    <a href="#" title="PAGES"><span>PAGES</span></a>
                </li>
                <li>
                    <a href="#" title="CONTACT"><span>CONTACT</span></a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4 col-md-3 icons">
            <div class="icons-inner">
                <a href="#" class="search">
                    <img src="/static/landing/img/search.png">
                </a>
                <a href="#" class="user">
                    <img src="/static/landing/img/user.png">
                </a>
                <a href="#" class="basket">
                    <img src="/static/landing/img/shopping_cart.png">
                    <span class="circle-counter">12</span>
                </a>
                <a href="#" class="settings">
                    <img src="/static/landing/img/config.png">
                </a>
            </div>
        </div>
    </header>
    <div class="row top-billboard">
        <div class="col-sm-12 top-billboard-wrapper">
            <div class="top-billboard-inner">
                <div class="billboard-text">
                    <h2>NEW ARRIVAL 2018</h2>
                    <h1>LINGERIE SUIT</h1>
                    <h3>Bras & Panties sale up to 50% off</h3>
                    <a href="#">SHOPPING NOW!</a>
                </div>
                <img class="watermark" src="/static/landing/img/logo.png">
            </div>
        </div>
    </div>

    <div class="row banners">
        <div class="col-md-4 col-sm-12 banner-wrapper">
            <div class="banner">
                <div class="banner-text">
                    <h1>A.M TO P.M</h1>
                    <h2>SEXY FROM</h2>
                    <h3>BRALETTES 101</h3>
                    <a href="#">SHOPPING NOW!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 banner-wrapper">
            <div class="banner">
                <div class="banner-text">
                    <h1>A.M TO P.M</h1>
                    <h2>SEXY FROM</h2>
                    <h3>BRALETTES 101</h3>
                    <a href="#">SHOPPING NOW!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 banner-wrapper">
            <div class="banner">
                <div class="banner-text">
                    <h1>A.M TO P.M</h1>
                    <h2>SEXY FROM</h2>
                    <h3>BRALETTES 101</h3>
                    <a href="#">SHOPPING NOW!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row product-header arrivals">
        <div class="col text-wrapper">
            <span class="bold">New</span>
            <span class="normal">Arrivals</span>
        </div>
    </div>
    <div class="row selectors">
        <div class="col-auto categories">
            <ul>
                <li>
                    <a class="active" title="ALL" href="#">ALL</a>
                </li>
                <li>
                    <a href="#" title="BRAS & PANTIES">BRAS & PANTIES</a>
                </li>
                <li>
                    <a href="#" title="LINGERIE">LINGERIE</a>
                </li>
                <li>
                    <a href="#" title="SLEEP">SLEEP</a>
                </li>
                <li>
                    <a href="#" title="SWIM">SWIM</a>
                </li>
            </ul>
        </div>
        <div class="col line"></div>
        <div class="col-auto paginator">
            <a class="prev" href="#"><img src="/static/landing/img/arrow_left.png"></a>
            <a class="next" href="#"><img src="/static/landing/img/arrow_right.png"></a>
        </div>
    </div>
    <div class="row products">
        <div class="col-md-3 product-wrapper">
            <div class="product">
                <div class="face">
                    <div class="active">
                        <ul>
                            <li class="add-to-cart">
                                <a href="#"><i class="fas fa-cart-plus fa-lg"></i></a>
                                <span>ADD TO CART</span>
                            </li>
                            <li class="add-to-wish">
                                <a href="#"><i class="fas fa-heart fa-lg"></i></a>
                                <span>LIKE</span>
                            </li>
                            <li class="view">
                                <a href="#"><i class="far fa-eye fa-lg"></i></a>
                                <span>DETAIL</span>
                            </li>
                            <li class="big">
                                <a href="#"><i class="fas fa-sign-out-alt fa-lg"></i></a>
                                <span>FAST BUY</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="info">
                    <div class="product-title"><a href="#">Product title 01</a></div>
                    <div class="product-category"><a href="#">LINGERIES</a></div>
                    <div class="product-price">$ 22.00</div>
                    <div class="product-rating">*****</div>
                </div>
            </div>
        </div>

        <div class="col-md-3 product-wrapper">
            <div class="product">
                <div class="face">
                    <div class="active">
                        <ul>
                            <li class="add-to-cart">
                                <a href="#"><i class="fas fa-cart-plus fa-lg"></i></a>
                                <span>ADD TO CART</span>
                            </li>
                            <li class="add-to-wish">
                                <a href="#"><i class="fas fa-heart fa-lg"></i></a>
                                <span>LIKE</span>
                            </li>
                            <li class="view">
                                <a href="#"><i class="far fa-eye fa-lg"></i></a>
                                <span>DETAIL</span>
                            </li>
                            <li class="big">
                                <a href="#"><i class="fas fa-sign-out-alt fa-lg"></i></a>
                                <span>FAST BUY</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="info">
                    <div class="product-title"><a href="#">Product title 01</a></div>
                    <div class="product-category"><a href="#">BRAS & PANTIES</a></div>
                    <div class="product-price">$ 19.00</div>
                    <div class="product-rating">*****</div>
                </div>
            </div>
        </div>

        <div class="col-md-3 product-wrapper">
            <div class="product">
                <div class="face">
                    <div class="active">
                        <ul>
                            <li class="add-to-cart">
                                <a href="#"><i class="fas fa-cart-plus fa-lg"></i></a>
                                <span>ADD TO CART</span>
                            </li>
                            <li class="add-to-wish">
                                <a href="#"><i class="fas fa-heart fa-lg"></i></a>
                                <span>LIKE</span>
                            </li>
                            <li class="view">
                                <a href="#"><i class="far fa-eye fa-lg"></i></a>
                                <span>DETAIL</span>
                            </li>
                            <li class="big">
                                <a href="#"><i class="fas fa-sign-out-alt fa-lg"></i></a>
                                <span>FAST BUY</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="info">
                    <div class="product-title"><a href="#">Product title 01</a></div>
                    <div class="product-category"><a href="#">SLEEP</a></div>
                    <div class="product-price">$ 22.00</div>
                    <div class="product-rating">****</div>
                </div>
            </div>
        </div>

        <div class="col-md-3 product-wrapper">
            <div class="product active">
                <div class="face">
                    <div class="active">
                        <ul>
                            <li class="add-to-cart">
                                <a href="#"><i class="fas fa-cart-plus fa-lg"></i></a>
                                <span>ADD TO CART</span>
                            </li>
                            <li class="add-to-wish">
                                <a href="#"><i class="fas fa-heart fa-lg"></i></a>
                                <span>LIKE</span>
                            </li>
                            <li class="view">
                                <a href="#"><i class="far fa-eye fa-lg"></i></a>
                                <span>DETAIL</span>
                            </li>
                            <li class="big">
                                <a href="#"><i class="fas fa-sign-out-alt fa-lg"></i></a>
                                <span>FAST BUY</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="info">
                    <div class="product-title"><a href="#">Product title 01</a></div>
                    <div class="product-category"><a href="#">BRAS & PANTIES</a></div>
                    <div class="product-price">$ 19.00</div>
                    <div class="product-rating">*****</div>

                </div>
            </div>
        </div>

    </div>
    <div class="row about-banners">
        <div class="col-md-4 banner-wrapper">
            <div class="banner shipping">
                <div class="image"><i class="fas fa-shipping-fast fa-5x"></i></div>
                <div class="text">
                    <div class="bigger">Free shipping</div>
                    <div class="smaller">Free shipping on all Ukraine</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 banner-wrapper">
            <div class="banner returns">
                <div class="image"><i class="fas fa-undo-alt fa-5x"></i></div>
                <div class="text">
                    <div class="bigger">Free returns</div>
                    <div class="smaller">30 days return on all items</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 banner-wrapper">
            <div class="banner support">
                <div class="image"><i class="fas fa-phone fa-5x"></i></div>
                <div class="text">
                    <div class="bigger">Premium support</div>
                    <div class="smaller">We support online 24 hours</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row product-header hot-sale">
        <div class="col text-wrapper">
            <span class="bold">Hot</span>
            <span class="normal">Sale</span>
        </div>
    </div>
    <div class="row selectors">
        <div class="col-auto categories">
            <ul>
                <li>
                    <a class="active" title="ALL" href="#">ALL</a>
                </li>
                <li>
                    <a href="#" title="BRAS & PANTIES">BRAS & PANTIES</a>
                </li>
                <li>
                    <a href="#" title="LINGERIE">LINGERIE</a>
                </li>
                <li>
                    <a href="#" title="SLEEP">SLEEP</a>
                </li>
                <li>
                    <a href="#" title="SWIM">SWIM</a>
                </li>
            </ul>
        </div>
        <div class="col line"></div>
        <div class="col-auto paginator">
            <a class="prev" href="#"><img src="/static/landing/img/arrow_left.png"></a>
            <a class="next" href="#"><img src="/static/landing/img/arrow_right.png"></a>
        </div>
    </div>
    <div class="row products">
        <div class="col-md-3 product-wrapper">
            <div class="product">
                <div class="face">
                    <span class="label sale">SALE</span>
                    <div class="active">
                        <ul>
                            <li class="add-to-cart">
                                <a href="#"><i class="fas fa-cart-plus fa-lg"></i></a>
                                <span>ADD TO CART</span>
                            </li>
                            <li class="add-to-wish">
                                <a href="#"><i class="fas fa-heart fa-lg"></i></a>
                                <span>LIKE</span>
                            </li>
                            <li class="view">
                                <a href="#"><i class="far fa-eye fa-lg"></i></a>
                                <span>DETAIL</span>
                            </li>
                            <li class="big">
                                <a href="#"><i class="fas fa-sign-out-alt fa-lg"></i></a>
                                <span>FAST BUY</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="info">
                    <div class="product-title"><a href="#">Product title 01</a></div>
                    <div class="product-category"><a href="#">LINGERIES</a></div>
                    <div class="product-price">$ 22.00</div>
                    <div class="product-rating">*****</div>
                </div>
            </div>
        </div>

        <div class="col-md-3 product-wrapper">
            <div class="product">
                <div class="face">
                    <span class="label hot">HOT</span>
                    <div class="active">
                        <ul>
                            <li class="add-to-cart">
                                <a href="#"><i class="fas fa-cart-plus fa-lg"></i></a>
                                <span>ADD TO CART</span>
                            </li>
                            <li class="add-to-wish">
                                <a href="#"><i class="fas fa-heart fa-lg"></i></a>
                                <span>LIKE</span>
                            </li>
                            <li class="view">
                                <a href="#"><i class="far fa-eye fa-lg"></i></a>
                                <span>DETAIL</span>
                            </li>
                            <li class="big">
                                <a href="#"><i class="fas fa-sign-out-alt fa-lg"></i></a>
                                <span>FAST BUY</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="info">
                    <div class="product-title"><a href="#">Product title 01</a></div>
                    <div class="product-category"><a href="#">BRAS & PANTIES</a></div>
                    <div class="product-price">$ 19.00</div>
                    <div class="product-rating">*****</div>
                </div>
            </div>
        </div>

        <div class="col-md-3 product-wrapper">
            <div class="product">
                <div class="face">
                    <div class="active">
                        <ul>
                            <li class="add-to-cart">
                                <a href="#"><i class="fas fa-cart-plus fa-lg"></i></a>
                                <span>ADD TO CART</span>
                            </li>
                            <li class="add-to-wish">
                                <a href="#"><i class="fas fa-heart fa-lg"></i></a>
                                <span>LIKE</span>
                            </li>
                            <li class="view">
                                <a href="#"><i class="far fa-eye fa-lg"></i></a>
                                <span>DETAIL</span>
                            </li>
                            <li class="big">
                                <a href="#"><i class="fas fa-sign-out-alt fa-lg"></i></a>
                                <span>FAST BUY</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="info">
                    <div class="product-title"><a href="#">Product title 01</a></div>
                    <div class="product-category"><a href="#">SLEEP</a></div>
                    <div class="product-price">$ 22.00</div>
                    <div class="product-rating">****</div>
                </div>
            </div>
        </div>

        <div class="col-md-3 product-wrapper">
            <div class="product active">
                <div class="face">
                    <span class="label new">NEW</span>
                    <div class="active">
                        <ul>
                            <li class="add-to-cart">
                                <a href="#"><i class="fas fa-cart-plus fa-lg"></i></a>
                                <span>ADD TO CART</span>
                            </li>
                            <li class="add-to-wish">
                                <a href="#"><i class="fas fa-heart fa-lg"></i></a>
                                <span>LIKE</span>
                            </li>
                            <li class="view">
                                <a href="#"><i class="far fa-eye fa-lg"></i></a>
                                <span>DETAIL</span>
                            </li>
                            <li class="big">
                                <a href="#"><i class="fas fa-sign-out-alt fa-lg"></i></a>
                                <span>FAST BUY</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="info">
                    <div class="product-title"><a href="#">Product title 01</a></div>
                    <div class="product-category"><a href="#">BRAS & PANTIES</a></div>
                    <div class="product-price">$ 19.00</div>
                    <div class="product-rating">*****</div>

                </div>
            </div>
        </div>

    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>



</body>
</html>