<div class="container-fluid top-menu-head"></div>
<div class="container top-menu-layout">
    <header class="row top-menu">
        <div class="col-12 col-sm-2 top-logo">
            <img src="/static/landing/img/logo.png">
        </div>
        <div class="col-sm-6 menu-list">
            <ul>
                <li>
                    <a href="#" title="Домівка"><span>Домівка</span></a>
                </li>
                <li>
                    <a href="{% url 'landing:shop' %}" title="Магазин"><span>Магазин</span></a>
                </li>
                <li>
                    <a href="#" title="Наша Майстерня"><span>Наша Майстерня</span></a>
                </li>
                <li>
                    <a href="#" title="Новини"><span>Новини</span></a>
                </li>
                <li>
                    <a href="#" title="Про нас"><span>Про нас</span></a>
                </li>
                <li>
                    <a href="#" title="Контакти"><span>Контакти</span></a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4 icons">
            <ul class="icons-inner">
                <li>
                    <a href="#" class="search">
                        <img src="/static/landing/img/search.png">
                    </a>
                </li>
                <li>
                    <a href="#" class="user">
                        <img src="/static/landing/img/user.png">
                    </a>
                </li>
                <li>
                    <a href="#" id="basket-icon" class="basket">
                        <img src="/static/landing/img/shopping_cart.png">
                        {% if get_basket.items_count > 0 %}
                            <span id="circle-counter" class="circle-counter">{{ get_basket.items_count }}</span>
                        {% else %}
                            <span id="circle-counter" class="circle-counter hidden">{{ get_basket.items_count }}</span>
                        {% endif %}
                    </a>

                </li>
                <li>
                    <a href="#" class="settings">
                        <img src="/static/landing/img/config.png">
                    </a>
                </li>
            </ul>
            <div class="basket-container hidden" id="basket-container">
                <ul class="basket-list" id="basket-list">
                    {% csrf_token %}
                    {% for item in get_basket.items %}
                        <li class="item {{ forloop.counter }}">
                            <div class="image-container">
                                <img class="" src="{{ item.product.get_image_basic.url }}">
                            </div>
                            <div class="text-container">
                                <div class="name">{{ item.product.name }}</div>
                                <div class="size">{{ item.size.name }}</div>
                                <div class="price">{{ item.product.price }}</div>
                            </div>
                            <div class="horizontal-text-container" id="token-holder">
                                <span class="count">x {{ item.quantity }}</span>
                                <span class="total-price">{{ item.total_price }}</span>
                                <button
                                        id="item_remove"
                                        class="item_remove remove"
                                        data-item_id = "{{ item.id }}"
                                        data-item_size = "{{ item.size.name }}"
                                        data-url = "{% url 'orders:basket_remove' %}"
                                        data-counter = "{{ forloop.counter }}"
                                        value="X">X</button>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="overall-cart-price">
                    Сума замовлення:
                    <span id="basket-total-price">{{ get_basket.basket_total_price }}</span>
                </div>
                <button class="checkout">Сплатити</button>
                <button class="view-cart">До корзини</button>
            </div>
        </div>
    </header>
</div>