{% extends 'landing/catalogue_and_sidebar/catalogue_and_sidebar_skelet.html' %}

{% block catalogue_content %}
    <div class="single-item-page">
        <div class="single-item-view row">
            <div class="main-image-wrapper col-sm-5">
                <img src="{{ item.get_image_basic.url }}">
            </div>
            <div class="product-info col-sm-4">
                <div class="title">{{ item.title }}</div>
                <div class="code">
                    <span class="name">Код: </span>
                    <span class="value">B&P-D01584</span>
                </div>
                <div class="rating">*****</div>
                <div class="price">{{ item.price }}</div>
                <div class="share-section">
                    <div class="name">Поділитись: </div>
                    <div class="facebook"><img></div>
                    <div class="instagram"><img></div>
                    <div class="twitter"><img></div>
                    <div class="gplus"><img></div>
                </div>
                <div class="description">

                </div>
                <div class="stock">
                    <span class="name">Кількість на складі: </span>
                    <span class="value">99 штук</span>
                </div>
                <div class="user-interface">
                    <div class="colors-line"></div>
                    <div class="quantity-selector"></div>
                    <div class="size-selector"></div>
                    <div class="add-to-cart"></div>
                </div>
            </div>
        </div>
        <div class="extra-images row">
            <div class="image-wrapper col-1">
            </div>
        </div>
    </div>
    {{ item_obj.name }}
    {{ item_obj.name }}
    {{ item_obj.name }}
    {{ item_obj.name }}
    {{ item_obj.name }}
    {{ item_obj.name }}
    {{ item_obj.name }}
    {{ item_obj.name }}
    {{ item_obj.name }}
{% endblock %}