{% extends 'landing/catalogue_and_sidebar/catalogue_and_sidebar_skelet.html' %}

{% block catalogue_content %}
    <div class="single-item-page">
        <div class="single-item-view row">
            <div class="main-image-wrapper col-sm-7">
                <img src="{{ item.get_image_basic.url }}">
            </div>
            <div class="product-info col-sm-5">
                <div class="title">{{ item.name }}</div>
                <div class="code">
                    <span class="name">Код:</span>

                    <span class="value">B&P-D01584</span>
                </div>
                <div class="rating">*****</div>
                <div class="price">{{ item.price }} ₴</div>
                <div class="share-section">
                    <div class="name">Поділитись: </div>
                    <div class="facebook"><img></div>
                    <div class="instagram"><img></div>
                    <div class="twitter"><img></div>
                    <div class="gplus"><img></div>
                </div>
                <div class="description">
                    {{ item.description }}
                </div>
                <div class="brand attribute">
                    <span class="name">Виробник:</span>
                    <span class="value">{{ item.brand.name }}</span>
                </div>
                <div class="fabric attribute">
                    <span class="name">Тканина: </span>
                    <span class="value">{{ item.fabric.name }}</span>
                </div>
                <div class="colors-line attribute">
                    <span class="name">Колір: </span>
                    <span class="value">{{ item.color.name }}</span>
                </div>
                <form method="post" action="" class="user-interface">
                    {% csrf_token %}
                    <div class="selectors-row">
                        <div class="quantity-selector-wrapper">
                            <label for="quantity-selector">Кількість: </label>
                            <div class="spinner-selector quantity">
                                <button  type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="left">
                                    <i class="far fa-arrow-alt-circle-left"></i>
                                </button>
                                <input type="number" class="number" id="quantity-selector" value=1 min="1" max="100">
                                <button  type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="right">
                                    <i class="far fa-arrow-alt-circle-right"></i>
                                </button>
                            </div>
                        </div>
                        <div class="size-selector-wrapper">
                            <label for="size-selector">Розмір:</label>
                            <div class="spinner-selector size">
                                <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="left">
                                    <i class="far fa-arrow-alt-circle-left"></i>
                                </button>
                                <input type="number" id="size-selector" class="number" value=1>
                                <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="right">
                                    <i class="far fa-arrow-alt-circle-right"></i>
                                </button>
                            </div>
                            <div class="size-selector"></div>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <input type="submit" id="add-to-cart" value="Додати до кошику">
                    </div>
                </form>
            </div>
            <div class="extra-images row">
                <div class="image-wrapper col-2">
                    <img src="{{ item.get_image_basic.url }}">
                </div>
                <div class="image-wrapper col-2">
                    <img src="{{ item.get_image_basic.url }}">
                </div>
                <div class="image-wrapper col-2">
                    <img src="{{ item.get_image_basic.url }}">
                </div>
            </div>
            <div class="detail-info row">
                <div class="tabs">
                    <ul>
                        <li>
                            <a href="#"><span>More</span> info</a>
                            <a href="#"><span>Data</span> sheet</a>
                            <a href="#"><span>Reviews</span></a>
                        </li>
                    </ul>
                </div>
                <div class="page">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                </div>
            </div>
        </div>
    </div>
{% endblock %}