{% extends 'landing/catalogue_and_sidebar/catalogue_and_sidebar_skelet.html' %}
{% block catalogue_content %}
    {% load static %}
    <div class="single-item-page">
        <div class="single-item-view row">
            <div class="main-image-wrapper col-sm-6">
                <img src="{{ item.get_image_basic.url }}">
            </div>
            <div class="product-info col-sm-6">
                <div class="title">{{ item.name }}</div>
                <div class="code">
                    <span class="name">Код:</span>
                    <span class="value">B&P-D01584</span>
                </div>
                <div class="rating">*****</div>
                <div class="price">{{ item.price }} ₴</div>
                <div class="share-section">
                    <div class="name">Поділитись: </div>
                    <div class="facebook"><img></div>
                    <div class="instagram"><img></div>
                    <div class="twitter"><img></div>
                    <div class="gplus"><img></div>
                </div>
{#                <div class="description">{{ item.description }}</div>#}
                <div class="brand attribute">
                    <span class="name">Виробник:</span>
                    <span class="value">{{ item.brand.name }}</span>
                </div>
                <div class="fabric attribute">
                    <span class="name">Тканина: </span>
                    <span class="value">{{ item.fabric.name }}</span>
                </div>
                <div class="colors-line attribute">
                    <span class="name">Колір: </span>
                    <span class="value">{{ item.color.name }}</span>
                </div>
                <form
                        method="post"
                        id="buying-product"
                        class="user-interface"
                        action="{% url 'orders:basket_add' %}"
                >
                    {% csrf_token %}
                    <div class="selectors">
                        <div class="quantity-selector-wrapper">
                            <label for="quantity-selector">Кількість: </label>
                            <div class="spinner-selector quantity">
                                <button  type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="left">
                                    <i class="far fa-arrow-alt-circle-left"></i>
                                </button>
                                <input type="number" class="number" id="quantity-selector" name="quantity-selector" value=1 min="1" max="100" readonly>
                                <button  type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="right">
                                    <i class="far fa-arrow-alt-circle-right"></i>
                                </button>
                            </div>
                        </div>
                        <div class="size-selector-wrapper">
                            <label for="size-selector">Розмір:</label>
                            <div class="spinner-selector size">
                                <select id="size-selector" class="size-selector" name="size-selector">
                                    {% for size in sizes %}
                                        <option value="{{ size.name }}">
                                            {{ size.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <button
                                type="submit"
                                id="add-to-cart"
                                data-item_id = "{{ item.id }}"
                                data-item_name = "{{ item.name }}"
                                data-item_price = "{{ item.price }}"
                                data-item_image = "{{ item.get_image_basic.url }}"
                        >Додати до кошику</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="extra-images row">
            {% for image in item.get_images_extra %}
            <div class="image-wrapper col-2">
                <img src="{{ image.image.url }}">
            </div>
            {% endfor %}
        </div>
        <div class="detail-info row">
            <div class="wrapper col-12">
                <div class="tabs">
                    <ul>
                        <li>
                            <a  href="#"><span>Детальна</span> інформація</a>
                        </li>
                        <li>
                            <a href="#"><span>Data</span> sheet</a>
                        </li>
                        <li>
                            <a href="#"><span>Reviews</span></a>
                        </li>
                    </ul>
                </div>
                <div class="text-body">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                </div>
            </div>
        </div>
        <div class="related-products">
            <div class="align-items-center justify-content-between selectors row">
                <div class="product-header categories">
                    <div class="col text-wrapper">
                        <span class="bold">Схожі</span>
                        <span class="normal">Товари</span>
                    </div>
                </div>
                <div class="col line"></div>
                <div class="col-auto ml-auto paginator">
                    <a class="prev" href="#"><img src="/static/landing/img/arrow_left.png"></a>
                    <a class="next" href="#"><img src="/static/landing/img/arrow_right.png"></a>
                </div>
            </div>
            <div class="products row">
                {% for i in 'abcd' %}
                    <div id="product-preview" class="col-6 col-md-3 product-wrapper">
                        {% include 'landing/item_preview.html' %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="single-item-banner row">
            <div class="banner-inner col-sm-12">
                <h1>Отримай знижку 10% з кожної покупки</h1>
                <h5>та безкоштовна доставка при покупці від 500 гривень</h5>
                <a href="#">Деталі</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ block.super }}
    {% load static %}
    <script type="text/javascript" src="{% static "landing/js/item_single.js" %}"></script>
{% endblock %}