{% extends 'base.html' %}
{% block inclusive_basket %}{% endblock %}
{% block content %}
    <div class="checkout-container row">
        <div class="col-md-6 checkout-success">
            <h2>Вітаємо!</h2>
            <div class="text-body">
                <p>Замовлення успішно оформлене.</p>
                <p>Менеджер зателефонує Вам ({{ order.customer_phone }}) для узгодження деталей.</p>
                <p>Щоб наше спілкування було продуктивним, збережіть номер замовлення - № {{ order.code }}.</p>
            </div>
            <div class="text-body">
                <h2>Що далі?</h2>
                <p>Щоб переглянути статус виконання замовлення, необхідно зареєструватися.
                    Ми запам'ятаємо Вас, та зробимо наступні оформлення легкими.</p>
                <p>Швидко зареєструватися можна за номером телефона ({{ order.customer_phone }}).
                    <span class="smaller">Ми поважаємо Ваш час, тому не будемо його використовувати для СМС-розсилок
                        (та будь-яких сповіщень, тільки живе спілкування).</span>
                </p>
                <p>Якщо, реєстрація не бажана, даємо унікальний код для доступу до замовлення.</p>
            </div>
            <div class="checkout-navigate">
                <div class="header">Отже, зробіть вибір:</div>
                <div class="choices">
                    <div class="choice register">
                        <p>Запам'ятайте мене, я ще повернусь.</p>
                        <div class="register-wrapper">
                            <a href="{% url "landing:shop" %}">
                                <button class="go-order-page"><i class="fas fa-user-tie"></i>Зареєструватися</button>
                            </a>
                        </div>
                    </div>
                    <div class="choice save-code">
                            <p>Збережу унікальний код для доступу до замовлення.</p>
                            <div class="code-wrapper">
                                <span id="order-hash-code" class="code">{{ order.hash_code }}</span>
                                <button class="to-clipboard" data-clipboard-text="{{ order.hash_code }}">
                                    <i class="fas fa-clipboard-list"></i>
                                </button>
                                <div class="event-result">
                                    <span class="ok hidden">Скопійовано до буферу обміну</span>
                                    <span class="error hidden">Використовуйте "Ctrl + C"</span>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 opened-order">
            <div class="wrapper">
                <h2>Замовлення № {{ order.code }}</h2>
                <div class="costumer-info">
                    <ul>
                        <li>Покупець: {{ order.customer_name }} </li>
                        <li>E-mail: {{ order.customer_email }}</li>
                        <li>Номер телефону: {{ order.customer_phone }}</li>
                        <li>Спосіб доставки: {{ order.delivery_method }}</li>
                        <li>Місто: {{ order.customer_city }}</li>
                        <li>Адреса: {{ order.customer_address }}</li>
                        <li>Поштовий індекс: {% if order.postal_code  %}{{ order.postal_code }}{% else %} -{% endif %}</li>
                    </ul>
                </div>
                <div class="basket-list">
                    <table>
                        <tbody>
                        {% for item in order.get_items %}
                            <tr class="item"
                                data-item_id="{{ item.product.id }}"
                                data-item_quantity = "{{ item.quantity }}"
                                data-item_size="{{ item.size.name }}"
                                data-url="{% url 'orders:basket_change_quantity' %}"
                            >
                                <td class="image-container">
                                    <img class="" src="{{ item.product.get_image_basic_url }}">
                                </td>
                                <td class="text-container">
                                    <div class="brand">
                                        {{ item.product.item_type.name|capfirst }} "{{ item.product.brand.name|capfirst }}"
                                    </div>
                                    <div class="name size">{{ item.product.name|capfirst }} {{ item.size.name }}</div>
                                    <div class="price">{{ item.product.price }}<span class="currency"> грн</span></div>
                                </td>
                                <td class="quantity">х {{ item.quantity }}</td>
                                <td class="total">
                                    <span class="item-total-price">{{ item.total_price }}</span><span class="currency"> грн</span>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="overall-price">
                    <span class="caption">Сума замовлення: </span>
                    <div class="price-wrapper">
                        <span class="basket-total-price">{{ order.basket.total_basket_price }}</span><span class="currency"> грн</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% load static %}
{% block javascripts %}
    {{ block.super }}
    <script src="{% static 'landing/js/checkout_success.js' %}"></script>
{% endblock %}