{% extends 'base.html' %}
{% block inclusive_basket %}{% endblock %}
{% block content %}
    <div class="checkout-container row">
        <div class="col-md-6 order-form">
            <h2>Оформлення замовлення</h2>
        </div>
        <div class="col-md-6 basket">
            <h2>Товари в корзині</h2>
            <div class="basket-list">
            <table>
                <tbody>
                    {% for item in get_basket.items %}
                    <tr class="item">
                        <td class="image-container">
                            <img class="" src="{{ item.product.get_image_basic.url }}">
                        </td>
                        <td class="text-container">
                            <div class="brand">
                                {{ item.product.item_type.name|capfirst }} "{{ item.product.brand.name|capfirst }}"
                            </div>
                            <div class="name size">{{ item.product.name|capfirst }} {{ item.size.name }}</div>
                            <div class="price">{{ item.product.price }}</div>
                        </td>
                        <td class="count">
                            <div class="spinner-selector quantity">
                                <button type="button" class="left decrease_item_quantity">
                                    <i class="far fa-arrow-alt-circle-left"></i>
                                </button>
                                <input type="number" class="number" name="quantity-selector" value={{ item.quantity }} min="1" max="100">
                                <button type="button" class="right increase_item_quantity">
                                    <i class="far fa-arrow-alt-circle-right"></i>
                                </button>
                            </div>
                        </td>
                        <td class="total">
                            <span class="item-total-price">{{ item.total_price }} грн</span>
                            <button id="item_remove"
                                    class="item_remove remove"
                                    data-item_id = "{{ item.id }}"
                                    data-item_size = "{{ item.size.name }}"
                                    data-url = "{% url 'orders:basket_remove' %}"
                                    data-counter = "{{ forloop.counter }}"
                                    value="X">
                                <i class="far fa-times-circle"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="overall-price">
                <span class="caption">Сума замовлення: </span>
                <span class="basket-total-price">{{ get_basket.basket_total_price }} грн</span>
            </div>
        </div>
    </div>
{% endblock %}