{% extends 'base.html' %}
{% block inclusive_basket %}{% endblock %}
{% block content %}
    <div class="checkout-container row">
        <div class="col-md-6 order-form">
            <h2>Оформлення замовлення</h2>
            <div class="form-container">
                {{ form.non_field_errors }}
                <form method="post">
                {% csrf_token %}
                    <div class="field customer-name">
{#                        {{ form.customer_name.errors }}#}
                        <label class="required" for="{{ form.customer_name.id_for_label }}">Ім'я</label>
                        <i class="fas fa-angle-right fa-lg"></i>{{ form.customer_name }}
                    </div>
                    <div class="field customer-phone">
{#                        {{ form.customer_phone.errors }}#}
                        <label class="required" for="{{ form.customer_phone.id_for_label }}">Телефон</label>
                        <i class="fas fa-angle-right fa-lg"></i>{{ form.customer_phone }}
                    </div>
                    <div class="field customer-email">
{#                        {{ form.customer_email.errors }}#}
                        <label class="required" for="{{ form.customer_email.id_for_label }}">Електронна скринька</label>
                        <i class="fas fa-angle-right fa-lg"></i>{{ form.customer_email }}
                    </div>
                    <div class="field delivery-method">
{#                        {{ form.delivery_method.errors }}#}
                        <label class="required" for="{{ form.delivery_method.id_for_label }}">Спосіб доставки</label>
                        <i class="fas fa-angle-right fa-lg"></i>{{ form.delivery_method }}
                    </div>
                    <div class="field postal-code">
{#                        {{ form.postal_code.errors }}#}
                        <label for="{{ form.postal_code.id_for_label }}">Поштовий індекс</label>
                        <i class="fas fa-angle-right fa-lg"></i>{{ form.postal_code }}
                    </div>
                    <div class="field customer-city">
{#                        {{ form.customer_city.errors }}#}
                        <label class="required" for="{{ form.customer_city.id_for_label }}">Місто</label>
                        <i class="fas fa-angle-right fa-lg"></i>{{ form.customer_city }}
                    </div>
                    <div class="field customer-address">
{#                        {{ form.customer_address.errors }}#}
                        <label class="required" for="{{ form.customer_address.id_for_label }}">Адреса доставки</label>
                        <i class="fas fa-angle-right fa-lg"></i>{{ form.customer_address }}
                    </div>
                    <div class="field customer-comment">
{#                        {{ form.customer_comment.errors }}#}
                        <label id='add-comment' for="{{ form.customer_comment.id_for_label }}">Додати коментар</label>
                        {{ form.customer_comment }}
                    </div>
                    <button><i class="fas fa-shopping-cart"></i>Оформити замовлення</button>
                </form>
            </div>
        </div>
        <div class="col-md-6 basket">
            <div class="basket-container">
                <h2>Товари в корзині</h2>
                <div class="basket-list">
                    <table>
                        <tbody>
                        {% for item in get_basket.items %}
                            <tr class="item"
                                data-item_id="{{ item.product.id }}"
                                data-item_quantity = "{{ item.quantity }}"
                                data-item_size="{{ item.size.name }}"
                                data-url="{% url 'orders:basket_change_quantity' %}"
                            >
                                <td class="image-container">
                                    <img class="" src="{{ item.product.get_image_basic_url }}">
                                </td>
                                <td class="text-container">
                                    <div class="brand">
                                        {{ item.product.item_type.name|capfirst }} "{{ item.product.brand.name|capfirst }}"
                                    </div>
                                    <div class="name size">{{ item.product.name|capfirst }} {{ item.size.name }}</div>
                                    <div class="price">{{ item.product.price }}</div>
                                </td>
                                <td class="count">
                                    <div class="spinner-selector quantity">
                                        <button type="button" class="left decrease_item_quantity" data-method="decrease">
                                            <i class="far fa-arrow-alt-circle-left"></i>
                                        </button>
                                        <input type="number" class="number" name="quantity-selector" autocomplete="off"
                                               value={{ item.quantity }} min="1" max="100" readonly disabled>
                                        <button type="button" class="right increase_item_quantity" data-method="increase">
                                            <i class="far fa-arrow-alt-circle-right"></i>
                                        </button>
                                    </div>
                                </td>
                                <td class="total">
                                    <span class="item-total-price">{{ item.total_price }}</span><span class="currency"> грн</span>
                                    <button id="item_remove"
                                            class="item_remove remove"
                                            data-item_id = "{{ item.id }}"
                                            data-item_size = "{{ item.size.name }}"
                                            data-url = "{% url 'orders:basket_remove' %}"
                                            data-counter = "{{ forloop.counter }}"
                                            value="X">
                                        <i class="far fa-times-circle"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="overall-price">
                    <span class="caption">Сума замовлення: </span>
                    <div class="price-wrapper">
                        <span class="basket-total-price">{{ get_basket.basket_total_price }}</span><span class="currency">грн</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% load static %}
{% block javascripts %}
    {{ block.super }}
    <script src="{% static 'landing/js/checkout.js' %}"></script>
{% endblock %}