{% extends 'base.html' %}
{% block content %}
    <div class="row top-shop-banner">
        <div class="col-md-12 wrapper">
            <div class="banner">
                <div class="banner-text">
                    <h1>A.M TO P.M</h1>
                    <h2>SEXY FROM</h2>
                    <h3>BRALETTES 101</h3>
                    <a id='shopping_now' href="#">SHOPPING NOW!</a>
                </div>
                <img class="background" src="">
                <img class="watermark" src="/static/landing/img/logo_watermark.png">
                <img class="background" src="/static/landing/img/department_slide.png">
            </div>
        </div>
    </div>
    <div class="row breadcrumbs">
        <div class="wrapper col-md-12">
            <div class="inner">
                <a href="#">Home</a>
                <a href="#">Lingeries</a>
                <a href="#">All Size AA-DDDD</a>
            </div>
        </div>
    </div>
    <div class="row shop-catalogue">
        <div class="col-sm-3 sidebar">
            <div class="attribute categories">
                <div class="header-wrapper">
                    <div class="header">Categories</div>
                    <div class="line"></div>
                </div>
                {% for sec in section_list %}
                    {% if sec.itemtype_set.first %}
                        <a href="#" class="category-header">{{ sec.name }}</a>
                        <ul>
                            {% for type in sec.itemtype_set.all %}
                                <li><a href="#">{{ type.name_plural }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="attribute color">
                <div class="header-wrapper">
                    <div class="header"><span class="bold">Search </span><span class="thin">by color</span></div>
                    <div class="line"></div>
                </div>
                <div class="color red">
                    <a href="#" class="color-inner"></a>
                </div>
                <div class="color blue">
                    <a href="#" class="color-inner"></a>
                </div>
                <div class="color green">
                    <a href="#" class="color-inner"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col"> </div>
    </div>
{% endblock %}
