<div class="product">
    <div class="face">
        <figure>
            <div class="image-wrapper">
                <img src="{{ item.get_image_basic.url }}">
                <div class="active">
                    <ul>
                        <li class="add-to-cart">
                            <a href="#"><i class="fas fa-cart-plus fa-lg"></i></a>
                            <span>ADD TO CART</span>
                        </li>
                        <li class="add-to-wish">
                            <a href="#"><i class="fas fa-heart fa-lg"></i></a>
                            <span>LIKE</span>
                        </li>
                        <li class="view">
                            <a href="#"><i class="far fa-eye fa-lg"></i></a>
                            <span>DETAIL</span>
                        </li>
                        <li class="big">
                            <a href="#"><i class="fas fa-sign-out-alt fa-lg"></i></a>
                            <span>FAST BUY</span>
                        </li>
                    </ul>
                </div>
            </div>
            <figcaption>
                <div class="product-title"><a href="#">{{ item.name }}</a></div>
                <div class="product-category"><a href="#">{{ item.item_type.name_plural }}</a></div>
                <div class="product-price">₴ {{ item.price }}</div>
                <div class="product-rating">*****</div>
            </figcaption>
        </figure>
    </div>
</div>
