{% extends 'base.html' %}
{% block content %}
    {% load static %}
    {% include 'landing/shop__top_banner.html' %}
    {#  Хлебные крохи  #}
    <div class="row breadcrumbs">
        <div class="wrapper col-md-12">
            <div class="inner">
                <a href="{% url 'landing:home' %}">Магазин</a>
                <a href="{{ department_obj.get_absolute_url }}">{{ department_obj.name }}</a>                
                <a href="{{ section_obj.get_absolute_url }}">{{ section_obj.name }}</a>
                <a href="{{ item_type_obj.get_absolute_url }}">{{ item_type_obj.name }}</a>
            </div>
        </div>
    </div>
    {#  Хлебные крохи  #}
    <div class="row shop-catalogue">
        {#   Сайдбарчик #}
        <div class="col-4 col-sm-3 sidebar">
            <div class="attribute categories">
                <div class="header-wrapper">
                    <div class="header">Типи товару</div>
                    <div class="line"></div>
                </div>
                {% for sec, it_types in sections_and_item_types.items %}
                    <a href="{{ sec.get_absolute_url }}" class="category-header">{{ sec.name | capfirst }}</a>
                    <ul>
                        {% for it_type in it_types %}
                            <li><a href="{{ it_type.get_absolute_url }}">{{ it_type.name_plural | capfirst }}</a></li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>

            {# Форма с фильтрами начало #}
            <form class="filters" action="" method="get">
                <div class="attribute color">
                    <div class="header-wrapper">
                        <div class="header"><span class="bold">Знайти </span><span class="thin">за кольором</span></div>
                        <div class="line"></div>
                    </div>
                    <div class="color red">
                        <a href="#" class="color-inner"></a>
                    </div>
                    <div class="color blue">
                        <a href="#" class="color-inner"></a>
                    </div>
                    <div class="color green">
                        <a href="#" class="color-inner"></a>
                    </div>
                </div>
                <div class="attribute price-range">
                    <div class="header-wrapper">
                        <div class="header"><span class="bold">Знайти </span><span class="thin">за ціною</span></div>
                        <div class="line"></div>
                    </div>
                    <div class="slider">
                        <p>
                            {{ form.price }}
                        </p>
                        <div id="slider-price-range"></div>
                    </div>
                </div>
                <div class="attribute size-range">
                    <div class="header-wrapper">
                        <div class="header"><span class="bold">Знайти </span><span class="thin">за розміром</span></div>
                        <div class="line"></div>
                    </div>
                    <div class="slider">
                        <p>
                            {{ form.size }}
                            <input type="text" id="size-amount" readonly style="border:0; color:#f63e29; font-weight:bold;">
                        </p>
                        <div id="slider-size-range"></div>
                    </div>
                </div>
                <div class="attribute brands">
                    <div class="header-wrapper">
                        <div class="header"><span class="bold">Знайти </span><span class="thin">за виробником</span></div>
                        <div class="line"></div>
                    </div>

                    <div class="select-wrapper">
                        {{ form.brand }}
                    </div>

                </div>
                <div class="attribute fabric">
                    <div class="header-wrapper">
                        <div class="header"><span class="bold">Знайти </span><span class="thin">за тканиною</span></div>
                        <div class="line"></div>
                    </div>
                    <div class="select-wrapper">
                        {{ form.fabric }}
                    </div>
                </div>
                <input type="submit" />
            </form>

        </div>
        {#   Сайдбарчик #}
        <div class="col-8 col-sm-9 content">
            {#  Опции вывода товаров #}
            <div class="header-wrapper">
                <div class="header">
                    <div class="option show">
                        <div class="name">SHOW</div>
                        <div class="controlgroup show">
                            <select id="sort-by">
                                <option>8</option>
                                <option>16</option>
                                <option>32</option>
                            </select>
                        </div>
                    </div>
                    <div class="option sort-by">
                        <div class="name">SORT BY</div>
                        <div class="controlgroup show">
                            <select id="sort-by">
                                <option>Recommended</option>
                                <option>New</option>
                                <option>Name</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="view-icons">
                    <div class="icon">
                        <a class="list-view" href="#"><i class="fas fa-list-ul"></i></a>
                    </div>
                    <div class="icon">
                        <a class="grid-view" href="#"><i class="fas fa-th"></i></a>
                    </div>
                </div>
            </div>
            {#  Опции вывода товаров #}
            <div class="row">
{#                            {% for obj in filter.qs %}#}
{#                    {{ obj.name }} - UAH {{ obj.price }}<br />#}
{#                {% endfor %}#}
                {% for item in filter.qs %}
                    <div id="product-preview" class="col-12 col-sm-6 col-lg-4 product-wrapper">
                        {% include 'landing/home__product.html' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ block.super }}
    {% include "landing/department_price_slider.html" %}
    {% include "landing/department_size_slider.html" %}
    <script>
        $( function() {
            $( ".controlgroup.show" ).controlgroup();
        } );
        $( function() {
            $( ".controlgroup.search-by" ).controlgroup();
        } );
    </script>

    <script type="text/javascript">
    {#  При клике на лейбл фильтров в сайдбаре добавляет/убирает лейблу аттрибут checked для стилизации его через CSS #}
        var label = $(".select-wrapper ul > li > label");
        var input_checked = $(".select-wrapper ul > li > label > input:checked");
        $(document).ready(function(){
            input_checked.parent().attr({"checked" : ""});

            label.mousedown(
                function () {
                    var this_ = $(this);

                    if (!this_[0].hasAttribute("checked")) {
                        this_.attr({"checked" : ""});
                    } else {
                        this_.removeAttr( "checked" );
                    }
                }
            );

        })
    </script>
{% endblock %}