    <div class="row top-shop-banner">
        <div class="col-md-12 wrapper">
            <div class="banner">
                <div class="banner-text">
                    <h1>A.M TO P.M</h1>
                    <h2>SEXY FROM</h2>
                    <h3>BRALETTES 101</h3>
                    <a id='shopping_now' href="#">SHOPPING NOW!</a>
                </div>
                <img class="background" src="">
                <img class="watermark" src="/static/landing/img/logo_watermark.png">
                <img class="background" src="/static/landing/img/department_slide.png">
            </div>
        </div>
    </div>