{% extends 'base.html' %}

{% block content %}

{% load static %}
{% include 'landing/shop__top_banner.html' %}

<div class="row shop-catalogue">
    <div class="col-12 content">
    {% for department, section_list in sections_in_departments.items %}
        <div class="row">
            <div class="col-12">
                <div class="header-wrapper">
                    <div class="header department">{{ department.name|capfirst }}</div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="row">
        {% for sec in section_list %}
            <div id="sections" class="col-6 col-md-4 col-lg-3 section-wrapper">
                <div class="section">
                    <div class="face">
                        <div class="image-wrapper">
                            <img class="background" src="{{ sec.image.url }}">
                            <div class="active">
                                <div class="menu-wrapper">
                                    <div class="menu">
                                        {% for item_type in sec.itemtype_set.all %}
                                            <div class="item">
                                                <a href="{{ item_type.get_absolute_url }}">
                                                    <img class="background" src="{{ item_type.icon.url }}">
                                                </a>
                                                <div class="item-description">
                                                    <span>{{ item_type.name_plural|upper }}</span>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text">
                            <a class="section-title" href="{{ sec.get_absolute_url }}">{{ sec.name|capfirst }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}
