<div class="functions-block">
    <div class="header">Замовлення</div>
    <ul class="functions">
        <li class="shortcuts">
            <a href="{% url "custom_admin:orders" %}" class="new-orders-shortcut">Нові</a>
            <a href="{% url "custom_admin:orders" %}" class="opened-orders-shortcut">В роботі</a>
        </li>
        <li class="shortcuts">
            <a href="{% url "custom_admin:orders" %}" class="all-orders-shortcut">Усі</a>
            <a href="{% url "custom_admin:orders" %}" class="removed-orders-shortcut">Видалені</a>
        </li>
    </ul>
    <form class="filters" action="{% url "custom_admin:orders" %}">
        <div class="attribute customer_name">
            <div class="header-wrapper">
                <div class="header"><span class="bold"></span><span class="thin">За ім'ям</span></div>
            </div>
            <div class="select-wrapper">{{ form.customer_name }}
            <button class="find-order by-name-shortcut-submit"><i class="fas fa-search"></i></button></div>
        </div>
        <div class="attribute code">
            <div class="header-wrapper">
                <div class="header"><span class="bold"></span><span class="thin">За кодом</span></div>
            </div>
            <div class="select-wrapper">
                {{ form.code }}
                <button class="find-order by-number-shortcut-submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
        <div class="attribute customer_email">
            <div class="header-wrapper">
                <div class="header"><span class="thin">За ел. поштою</span></div>
            </div>
            <div class="select-wrapper">
                {{ form.customer_email }}
                <button class="find-order by-email-shortcut-submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
        <div class="attribute customer_phone">
            <div class="header-wrapper">
                <div class="header"><span class="bold"></span><span class="thin">За телефоном</span></div>
            </div>
            <div class="select-wrapper">
                {{ form.customer_phone }}
                <button class="find-order by-phone-shortcut-submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
        <div class="attribute delivery_method">
            <div class="header-wrapper">
                <div class="header"><span class="bold"></span><span class="thin">За способом доставки</span></div>
            </div>
            <div class="select-wrapper">
                {{ form.delivery_method }}
            </div>
        </div>
        <div class="attribute status">
            <div class="header-wrapper">
                <div class="header"><span class="bold"></span><span class="thin">За статусом</span></div>
            </div>
            <div class="select-wrapper">
                {{ form.status }}
            </div>
        </div>
        <div class="attribute">
            <div class="header-wrapper">
                <div class="header"><span class="bold"></span><span class="thin">Видалені</span></div>
            </div>
            <div class="select-wrapper">
                {{ form.is_removed }}
            </div>
        </div>
        <button class="orders-search-submit">Пошук<i class="fas fa-search"></i></button>
    </form>
</div>
