{% extends 'custom_admin/base.html' %}

{% block sidebar %}
{% include 'custom_admin/main__sidebar_orders.html' %}
{% include 'custom_admin/main__sidebar_products.html' %}
{% endblock %}
{% block content %}
    <div class="functions-block">
        <div class="header">Замовлення</div>
        <ul class="row">
            <div class="col-md-3">
                <li>
                    <div class="square-block">
                        <a href="{% url "custom_admin:orders" %}" class="opened-orders-shortcut">
                            <div class="icon"><i class="fas fa-3x fa-file-contract"></i></div>
                            <div class="description">В роботі</div>
                        </a>
                    </div>
                </li>
            </div>
            <div class="col-md-3">
                <li>
                    <div class="square-block">
                        <a href="{% url "custom_admin:orders" %}" class="new-orders-shortcut">
                            <div class="icon"><i class="fas fa-3x fa-asterisk"></i></div>
                            <div class="description">Нові</div>
                        </a>
                    </div>
                </li>
            </div>
            <div class="col-md-3">
                <li>
                    <div class="square-block">
                        <a href="{% url "custom_admin:orders" %}">
                            <div class="icon"><i class="fas fa-3x fa-file-alt"></i></div>
                            <div class="description">Усі</div>
                        </a>
                    </div>
                </li>
            </div>
        </ul>
    </div>
    <div class="functions-block">
        <div class="header">Товари</div>
        <ul class="row functions">
            <div class="col-md-3">
                <li>
                    <div class="square-block">
                        <a href="#">
                            <div class="icon"><i class="fas fa-3x fa-list"></i></div>
                            <div class="description">До списку товарів</div>
                        </a>
                    </div>
                </li>
            </div>
            <div class="col-md-3">
                <li>
                    <div class="square-block">
                        <a href="#">
                            <div class="icon"><i class="fas fa-3x fa-plus"></i></div>
                            <div class="description">Додати новий товар</div>
                        </a>
                    </div>
                </li>
            </div>
        </ul>
    </div>
{% endblock %}