<div class="functions-block">

    <form class="filters" action="{% url "custom_admin:items" %}">
    <div class="attribute item_types">
        <div class="header-wrapper">
            <div class="header">Типи товару</div>
            <div class="line"></div>
        </div>
        <div class="item-types-wrapper">
            <ul id="id_item_type">
            {% for dep, secs in sidebar.items %}
                <li class="department-header">{{ dep.name | capfirst }}</li>
                {% for sec in secs %}
                <li class="section-header">{{ sec.name | capfirst }}</li>
                <li>
                    <ul>
                    {% for it in sec.get_item_types %}
                    <li class="item-type">
                        <label for="id_item_type_{{ it.id }}">
                            <input type="checkbox" name="item_type" value="{{ it.id|add:"1" }}" id="id_item_type_{{ it.id }}">
                            {{ it.name|capfirst }}
                        </label>
                    </li>
                    {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
    </div>
        <div class="attribute">
            <div class="header-wrapper">
                <div class="header"><span class="bold"></span><span class="thin">За назвою</span></div>
            </div>
            <div class="select-wrapper">
                {{ form.name }}
            </div>
        </div>

        <div class="attribute">
            <div class="header-wrapper">
                <div class="header"><span class="bold"></span><span class="thin">За ціною</span></div>
            </div>
            <div class="select-wrapper">
                {{ form.price }}
            </div>
        </div>

        <div class="attribute">
            <div class="header-wrapper">
                <div class="header"><span class="bold"></span><span class="thin">За розміром</span></div>
            </div>
            <div class="select-wrapper">
                {{ form.size }}
            </div>
        </div>

        <div class="attribute">
            <div class="header-wrapper">
                <div class="header"><span class="bold"></span><span class="thin">За тканиною</span></div>
            </div>
            <div class="select-wrapper">
                {{ form.fabric }}
            </div>
        </div>

        <div class="attribute">
            <div class="header-wrapper">
                <div class="header"><span class="bold"></span><span class="thin">За кольором</span></div>
            </div>
            <div class="select-wrapper">
                {{ form.color }}
            </div>
        </div>

        <div class="attribute">
            <div class="header-wrapper">
                <div class="header"><span class="bold"></span><span class="thin">За призначенням</span></div>
            </div>
            <div class="select-wrapper">
                {{ form.gender }}
            </div>
        </div>

        <div class="attribute">
            <div class="header-wrapper">
                <div class="header"><span class="bold"></span><span class="thin">За виробником</span></div>
            </div>
            <div class="select-wrapper">
                {{ form.brand }}
            </div>
        </div>

        <button class="orders-search-submit">Пошук<i class="fas fa-search"></i></button>
    </form>
</div>