{% extends 'custom_admin/base.html' %}

{% block sidebar %}
    {% include 'custom_admin/main__sidebar_orders.html' %}
{% endblock %}
{% block content %}
    <div class="row orders-table-content">
        <div class="col-sm-12">
            <header><h3>{{ breadcrumbs }}</h3></header>
{#            <div class="display-functions">#}
{#                <ul>#}
{#                    <li>Сортувати за:</li>#}
{#                </ul>#}
{#            </div>#}
            <div class="table-wrapper">
                <table class="table table-hover table-sm">
                    <thead class="thead-light table-bordered">
                        <tr>
                            <th scope="col">Код</th>
                            <th scope="col">Створено</th>
                            <th scope="col">Оновлено</th>
                            <th scope="col">Телефон</th>
                            <th scope="col">Ім`я</th>
                            <th scope="col">Місто</th>
                            <th scope="col">Статус</th>
                        </tr>
                    </thead>
                    <tbody class="table-striped table-bordered">
                    {% for order in order_filter.qs %}
                        <tr>
                            <th>{{ order.code }}</th>
                            <td>{{ order.created|date:"j.m.y" }}</td>
                            <td>{{ order.updated|date:"j.m.y" }}</td>
                            <td>{{ order.customer_phone }}</td>
                            <td>{{ order.customer_name }}</td>
                            <td>{{ order.customer_city }}</td>
                            <td>{% for status in order.status.all %}{{ status.verbose_name }}{% endfor %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}