{% extends 'custom_admin/base.html' %}

{% block sidebar %}
    <div class="functions-block">
        <div class="header">Замовлення</div>
        <ul class="functions">
            <li><a href="{% url "custom_admin:orders" %}" class="">Редагувати</a></li>
            <li><a href="{% url "custom_admin:orders" %}" class="">Закрити</a></li>
            <li><a href="{% url "custom_admin:orders" %}" class="">Видалити</a></li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    <div class="row order-detail">
        <div class="col-sm-12">
            <div class="header">{{ order.code }} від {{ order.created | date:"j.m.y" }}</div>
            <form class="order-edit" autocomplete="off" action="" method="post">
                {% csrf_token %}

                <div class="row">
                    <div class="col-sm-4">
                        <div class="field customer-name">
                            <label for="{{ order_admin_form.customer_name.id_for_label }}">Ім'я</label>
                            {{ order_admin_form.customer_name }}
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="field customer-email">
                            <label for="{{ order_admin_form.customer_email.id_for_label }}">E-mail</label>
                            {{ order_admin_form.customer_email }}
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="field customer-phone">
                            <label for="{{ order_admin_form.customer_phone.id_for_label }}">Телефон</label>
                            {{ order_admin_form.customer_phone }}
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="field customer-city">
                            <label for="{{ order_admin_form.customer_city.id_for_label }}">Місто</label>
                            {{ order_admin_form.customer_city }}
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="field customer-address">
                            <label for="{{ order_admin_form.customer_address.id_for_label }}">Адреса</label>
                            {{ order_admin_form.customer_address }}
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="field customer-postal">
                            <label for="{{ order_admin_form.postal_code.id_for_label }}">Поштовий індекс</label>
                            {{ order_admin_form.postal_code }}
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="field delivery">
                            <label for="{{ order_admin_form.delivery_method.id_for_label }}">Спосіб доставки</label>
                            {{ order_admin_form.delivery_method }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="field status">
                            <label for="{{ order_admin_form.status.id_for_label }}">Статус</label>
                            {{ order_admin_form.status }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="field customer-comment">
                            <label for="{{ order_admin_form.customer_comment.id_for_label }}">Коментар</label>
                            {{ order_admin_form.customer_comment }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="field manager_comment">
                            <label for="{{ order_admin_form.manager_comment.id_for_label }}">Примітки менеджера</label>
                            {{ order_admin_form.manager_comment }}
                        </div>
                    </div>
                </div>
                <button type="submit"><i class="fas fa-shopping-cart"></i>Оформити замовлення</button>
            </form>
        </div>
    </div>
{% endblock %}