{% extends 'custom_admin/base.html' %}

{% block sidebar %}
    <div class="functions-block">
        <div class="header">Замовлення</div>
        <ul class="functions">
            <li>
                <label for="find-order-by-number">Знайти замовлення за номером</label>
                <form class="find-order" action="">
                    <input type="text" pattern="[0-9]{3,10}" name="find-order-by-number" id="find-order-by-number">
                    <button><i class="fas fa-search"></i></button>
                </form>
            </li>
            <li><a href="{% url "custom_admin:orders" %}">Замовлення в роботі</a></li>
            <li><a href="{% url "custom_admin:orders" %}">Нові замовлення</a></li>
            <li><a href="{% url "custom_admin:orders" %}">Усі замовлення</a></li>
        </ul>

        <form class="filters" action="">
            <div class="attribute customer_name">
                <div class="header-wrapper">
                    <div class="header"><span class="bold">Знайти </span><span class="thin">за ім'ям</span></div>
                    <div class="line"></div>
                </div>
                <div class="select-wrapper">
                    {{ form.customer_name }}
                </div>
            </div>

            <div class="attribute code">
                <div class="header-wrapper">
                    <div class="header"><span class="bold">Знайти </span><span class="thin">номером</span></div>
                    <div class="line"></div>
                </div>
                <div class="select-wrapper">
                    {{ form.code }}
                </div>
            </div>

            <div class="attribute customer_email">
                <div class="header-wrapper">
                    <div class="header"><span class="bold">Знайти </span><span class="thin">ел. поштою</span></div>
                    <div class="line"></div>
                </div>
                <div class="select-wrapper">
                    {{ form.customer_email }}
                </div>
            </div>

            <div class="attribute customer_phone">
                <div class="header-wrapper">
                    <div class="header"><span class="bold">Знайти </span><span class="thin">телефоном</span></div>
                    <div class="line"></div>
                </div>
                <div class="select-wrapper">
                    {{ form.customer_phone }}
                </div>
            </div>

            <div class="attribute delivery_method">
                <div class="header-wrapper">
                    <div class="header"><span class="bold">Знайти </span><span class="thin">способом доставки</span></div>
                    <div class="line"></div>
                </div>
                <div class="select-wrapper">
                    {{ form.delivery_method }}
                </div>
            </div>

            <div class="attribute status">
                <div class="header-wrapper">
                    <div class="header"><span class="bold">Знайти </span><span class="thin">статусом</span></div>
                    <div class="line"></div>
                </div>
                <div class="select-wrapper">
                    {{ form.status }}
                </div>
            </div>

            <input type="submit" />
        </form>


    </div>
    <div class="functions-block">
        <div class="header">Товари</div>
        <ul class="functions">
            <li><a href="#">Перейти до списку товарів</a></li>
            <li><a href="#">Додати новий товар</a></li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    <div class="row orders-table-content">
        <div class="col-sm-12">
            <header><h3>{{ breadcrumbs }}</h3></header>
{#            <div class="display-functions">#}
{#                <ul>#}
{#                    <li>Сортувати за:</li>#}
{#                </ul>#}
{#            </div>#}
            <div class="table-wrapper">
                <table class="table table-hover table-sm">
                    <thead class="thead-light table-bordered">
                        <tr>
                            <th scope="col">Код</th>
                            <th scope="col">Створено</th>
                            <th scope="col">Оновлено</th>
                            <th scope="col">Телефон</th>
                            <th scope="col">Ім`я</th>
                            <th scope="col">Місто</th>
                            <th scope="col">Статус</th>
                        </tr>
                    </thead>
                    <tbody class="table-striped table-bordered">
{#                    {% for order in orders_query %}#}
{#                        <tr>#}
{#                            <th scope="row">{{ order.code }}</th>#}
{#                            <td>{{ order.created|date:"j.m.y" }}</td>#}
{#                            <td>{{ order.updated|date:"j.m.y" }}</td>#}
{#                            <td>{{ order.customer_phone }}</td>#}
{#                            <td>{{ order.customer_name }}</td>#}
{#                            <td>{{ order.customer_city }}</td>#}
{#                            <td>{% for status in order.status.all %}{{ status.verbose_name }}{% endfor %}</td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
                    {% for order in order_filter.qs %}
                        <tr>
                            <th scope="row">{{ order.code }}</th>
                            <td>{{ order.created|date:"j.m.y" }}</td>
                            <td>{{ order.updated|date:"j.m.y" }}</td>
                            <td>{{ order.customer_phone }}</td>
                            <td>{{ order.customer_name }}</td>
                            <td>{{ order.customer_city }}</td>
                            <td>{% for status in order.status.all %}{{ status.verbose_name }}{% endfor %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}