{% extends 'custom_admin/base.html' %}
{% block sidebar %}
    {% include 'custom_admin/main__sidebar_products.html' %}
{% endblock %}
{% block content %}
    <div class="row table products">
        <div class="col-sm-12">
            <header><h3>{{ breadcrumbs }}</h3></header>
            <div class="table-wrapper">
                <table class="table table-hover table-sm">
                    <thead class="thead-light table-bordered">
                        <tr>
                            <th scope="col">Код</th>
                            <th scope="col">Назва</th>
                            <th scope="col">Тип</th>
                            <th scope="col">Ціна</th>
                            <th scope="col">Виробник</th>
                            <th scope="col">Тканина</th>
                            <th scope="col">Колір</th>
                            <th scope="col">Доступні розміри</th>
                            <th scope="col">Фото</th>
                            <th scope="col">Доступність</th>
                        </tr>
                    </thead>
                    <tbody class="table-striped table-bordered">
                    {% for item in item_filter.qs %}
                        <tr data-url="{{ item.get_absolute_admin_url }}">
                            <th>{{ item.code }}</th>
                            <td>{{ item.name }}</td>
                            <td>{{ item.item_type }}</td>
                            <td>{{ item.price }}</td>
                            <td>{{ item.brand }}</td>
                            <td>{{ item.fabric }}</td>
                            <td>{{ item.color }}</td>
                            <td>{% for size in item.get_sizes %}{{ size }} {% endfor %}</td>
                            <td><img src="{{ item.get_image_basic_url }}"></td>
                            <td>{% if item.available %}Так{% else %}Ні{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}