{% extends 'custom_admin/base.html' %}

{% block sidebar %}
    <div class="functions-block">
        <div class="header">Товар</div>
        <ul class="functions">
            <li><a href="{% url "custom_admin:orders" %}" class="">Редагувати</a></li>
            <li><a href="{% url "custom_admin:orders" %}" class="">Закрити</a></li>
            <li><a href="#" class="">Видалити</a></li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    <div class="row order-detail">
        <div class="col-sm-12">
            <div class="header">{{ product.code }} від {{ product.created | date:"j.m.y" }}</div>
            <form class="product-edit" autocomplete="off" action="" method="post">
                {% csrf_token %}
                {{ product_form.as_p }}
                {% for form in image_formset %}
                    {{ form }}
                {% endfor %}
            <button><i class="fas fa-shopping-cart"></i>Зберегти</button>
            </form>
        </div>
    </div>
{% endblock %}