{% extends 'custom_admin/base.html' %}

{% block sidebar %}
    <div class="functions-block">
        <div class="header">Товар</div>
        <ul class="functions">
            <li><a href="{% url "custom_admin:products" %}" class="">До списку товарів</a></li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    <div class="row product-detail">
        <div class="col-sm-12">
            <div class="header">Редагування товару "{{ product.name }}" від {{ product.created | date:"j.m.y" }}</div>
            <div class="product-images col-sm-12">
                <div class="wrapper">
                    <img class="main" src="{{ product.get_image_basic_url|default_if_none:'#' }}" title="{{ product.get_image_basic_url }}">
                    {% for url in product.get_images_extra_urls %}
                        <img src="{{ url|default_if_none:'#' }}" title="{{ url }}">
                    {% endfor %}</div>
            </div>
            <form class="product-edit" autocomplete="off" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ product_form.non_field_errors }}
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="field name">
                            <label for="{{ product_form.name.id_for_label }}">{{ product_form.name.label }}</label>
                            {{ product_form.name }}
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="field item_type">
                            <label for="{{ product_form.item_type.id_for_label }}">{{ product_form.item_type.label }}</label>
                            {{ product_form.item_type }}
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="field price">
                            <label for="{{ product_form.price.id_for_label }}">{{ product_form.price.label }}</label>
                            {{ product_form.price }}
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="field brand">
                            <label for="{{ product_form.brand.id_for_label }}">{{ product_form.brand.label }}</label>
                            {{ product_form.brand }}
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="field fabric">
                            <label for="{{ product_form.fabric.id_for_label }}">{{ product_form.fabric.label }}</label>
                            {{ product_form.fabric }}
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="field color">
                            <label for="{{ product_form.color.id_for_label }}">{{ product_form.color.label }}</label>
                            {{ product_form.color }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="field description">
                            <label for="{{ product_form.description.id_for_label }}">{{ product_form.description.label }}</label>
                            {{ product_form.description }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="field available">
                            <label for="{{ product_form.available.id_for_label }}">{{ product_form.available.label }}</label>{{ product_form.available }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="field available_sizes">
                            <label for="{{ product_form.available_sizes.id_for_label }}">{{ product_form.available_sizes.label }}</label>
                            {{ product_form.available_sizes }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="field slug">
                            <label for="{{ product_form.slug.id_for_label }}">{{ product_form.slug.label }}</label>
                            {{ product_form.slug }}
                        </div>
                    </div>
                </div>
                <h3>Редагування фотографій</h3>
                {{ image_formset.management_form }}
                {% for form in image_formset %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <div class="image-admin-fieldset">
                        <div class="image-admin-field file">
                            <label for="{{ form.image.id_for_label }}">Фото {{ forloop.counter }}.</label>
                            {{ form.image }}
                        </div>
                        <div class="wrapper">
                            <div class="image-admin-field is-active">
                                <label for="{{ form.is_active.id_for_label }}">{{ form.is_active.label }}</label>
                                {{ form.is_active }}
                            </div>
                            <div class="image-admin-field is-basic">
                                <label for="{{ form.is_basic.id_for_label }}">{{ form.is_basic.label }}</label>
                                {{ form.is_basic }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="button-wrapper">
                    <button class="save">Зберегти  <i class="fas fa-save"></i></button>
                    <button class="delete">Видалити назавжди  <i class="fas fa-trash-alt"></i></button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}